.container {
  width: 70%;
  margin: auto;
}

.calculator {
  display: grid;
  grid-template-rows: 1fr 4fr;
  max-width: 350px;
  height: 500px;
  margin: auto;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.display {
  font-size: large;
}
